/* .background-img {
    margin: 0;

    im: url('../img/game_over.png') no-repeat center fixed;
    background-size: contain;
    display: flex;
    font-family: 'Helvetica Neue', Arial, sans-serif;
} */

.image-gameOver img{
   display: flex;
   margin: auto;
   width: 320px;
   padding-top: 100px;
   
}

.new-Game {
    width: 140px;
    height: 60px;
    background-color: white;
    border: 4px solid #126bdf;
    border-radius: 68px;
    text-align: center;
    margin: 30px;
}

.play-button {
    color: #126bdf;
    font-family: 'Press Start 2P';
}
