.background-img {
    margin: 0;

    background: url('../img/images.png') no-repeat center fixed;
    background-size: cover;
    display: flex;

    
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo-holder {
    width: 140px;
    height: 60px;
    background-color: white;
    border: 4px solid #126bdf;
    border-radius: 68px;
    text-align: center;
    margin: 30px;
}

.play-button {
    color: #126bdf;
    font-family: 'Press Start 2P';
}
